@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
:root {
  --main-color: #fc575c;
  --second-color: #00f2ff;
  --gradient-color: linear-gradient(
    90deg,
    var(--main-color) 0%,
    var(--second-color) 100%
  );
  --section-title-color: white;
  --background-color: black;
  --section-color: #161517;
  --text-color: #787d82;
  --setion-padding: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar {
  background-color: var(--background-color);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--section-title-color);
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.loading.loaded {
  display: none;
}
.loading .image {
  width: 10%;
  margin: auto;
}
.loading .image img {
  width: 100%;
  animation: loading-scale 2s infinite ease;
}
@keyframes loading-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.section-title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: var(--section-title-color);
  background-image: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8em;
  margin-bottom: 40px;
  position: relative;
}
.section {
  opacity: 0;
  padding-top: 500px !important;
  transition: padding 3s, opacity 4s;
}
.section.active {
  opacity: 1;
  padding: 0 !important;
}
@media (max-width: 577px) {
  .section-title {
    font-size: 2rem;
  }
}
.btn {
  background: var(--gradient-color);
  background-size: 200% 200%;
  animation: gradient 2s infinite;
  color: white;
  font-size: 0.8em;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.container {
  margin: auto;
  padding: 0 20px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}
/* Start header */
header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: height 1s, top 0.5s, background-color 0.5s, box-shadow 0.3s;
  z-index: 100;
}
header .container > div {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
}
header.fixed {
  top: -100px;
}
header.scrolled {
  background-color: var(--background-color);
  box-shadow: 0 0px 5px 0 var(--main-color);
  top: 0px;
}
header .logo img {
  height: 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  color: var(--section-title-color);
  text-transform: capitalize;
  font-size: 1rem;
  padding: 10px 15px;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header nav a:hover {
  color: var(--main-color);
}
header nav a::before {
  content: "";
  background-color: var(--main-color);
  height: 2px;
  width: 0%;
  position: absolute;
  left: 50%;
  bottom: -0px;
  transition-duration: 0.3s;
}
header nav a::after {
  content: "";
  background-color: var(--main-color);
  height: 2px;
  width: 0%;
  position: absolute;
  right: 50%;
  bottom: -0px;
  transition-duration: 0.3s;
}
header nav a:hover::before,
header nav a:hover::after {
  width: 50%;
}
header .nav-icon {
  display: none;
  width: 25px;
  height: 15px;
  position: relative;
}
header .nav-icon span {
  background-color: var(--section-title-color);
  width: 100%;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  transition: transform 0.5s, opacity 0.1s;
  opacity: 1;
}
header .nav-icon span:nth-child(2) {
  top: 50%;
}
header .nav-icon span:nth-child(3) {
  top: 100%;
}
header .nav-icon.active span:nth-child(1) {
  transform: rotate(45deg) translateY(350%);
}
header .nav-icon.active span:nth-child(2) {
  opacity: 0;
}
header .nav-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-350%);
}
header .nav-menu {
  display: none;
}
header .nav-menu i {
  margin-right: 10px;
  margin-top: 20px;
}
header .nav-menu a {
  color: var(--section-title-color);
  display: block;
  text-transform: capitalize;
  margin-bottom: 10px;
  transition-duration: 0.3s;
}
header .nav-menu a:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  header {
    height: 90px;
  }
  header.active-menu {
    height: 300px;
    background-color: var(--background-color);
    box-shadow: 0 0px 5px 0 var(--main-color);
  }
  header .nav-menu,
  header .nav-icon {
    display: block;
  }
  header nav {
    display: none;
  }
}
/* End header */
/* Start Hero section */
#home .container {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home h1 {
  margin-top: 50px;
  font-size: 2em;
  color: var(--section-title-color);
}
#home h1 span {
  color: var(--main-color);
}
#home h1 span:first-child {
  font-family: "Patrick Hand", cursive;
  background-image: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#home h1 span.cursor {
  display: inline-block;
  background-color: var(--section-title-color);
  margin-left: -15px;
  width: 3px;
  animation: blink 1s infinite;
}
#home h1 span.cursor.typing {
  animation: none;
}
#home p {
  max-width: 800px;
  margin: 25px 0 20px;
  line-height: 1.5;
}
#home .skills {
  margin-bottom: 25px;
}
#home .image {
  width: fit-content;
  position: relative;
  margin: auto;
}
#home .image::before,
#home .image::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
}
#home .image::before {
  border-top: 4px solid var(--main-color);
  border-right: 4px solid var(--main-color);
  top: -20px;
  right: -20px;
}
#home .image::after {
  border-bottom: 4px solid var(--main-color);
  border-left: 4px solid var(--main-color);
  bottom: -30px;
  left: -20px;
}
#home .image img {
  width: 290px;
  aspect-ratio: 3/4;
  object-fit: cover;
}
#home .image div {
  background-color: var(--main-color);
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 300px 150px var(--main-color);
  z-index: -1;
}
@media (max-width: 991.98px) {
  #home .image img {
    width: 280px;
  }
}
@media (max-width: 767.98px) {
  #home .container {
    flex-direction: column;
    text-align: center;
  }
  #home .links {
    padding-right: 0;
  }
  #home h1 {
    margin: 50px auto;
    font-size: 1.5em;
  }
  #home p {
    font-size: 0.8em;
  }
  #home .skills i {
    font-size: 1.2em;
    line-height: 1.5;
  }
  #home .image img {
    width: 200px;
  }
}
@media (max-width: 564px) {
  #home .image {
    margin-top: 50px;
  }
  #home .image::before {
    top: -10px;
    right: -10px;
  }
  #home .image::after {
    bottom: -10px;
    left: -10px;
  }
  #home .image img {
    width: 150px;
  }
}
@keyframes blink {
  0% {
    background-color: var(--section-title-color);
  }
  49% {
    background-color: var(--section-title-color);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--section-title-color);
  }
}
/* End Hero section */
/* Start About section */
#about {
  padding: var(--setion-padding) 0;
}
#about h3 {
  color: var(--section-title-color);
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
#about h3 span {
  color: var(--main-color);
  transition: 1s;
}
#about h3 + p {
  text-align: center;
  width: 100%;
  line-height: 1.5;
  font-weight: 300;
}
#about .about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 50px 0 30px;
  font-size: 0.8em;
}
#about .about-content > div p {
  margin-bottom: 40px;
  position: relative;
}
#about .about-content > div p::after {
  content: "";
  width: 90%;
  height: 1px;
  position: absolute;
  background-color: var(--section-color);
  bottom: -20px;
  left: 0;
}
#about .about-content > div p b {
  color: var(--section-title-color);
  margin-right: 5px;
}
#about .skills-progress label {
  color: var(--section-title-color);
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}
#about .skills-progress div {
  background-color: var(--section-color);
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  position: relative;
  z-index: -1;
}
#about .skills-progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-size: 400% 400%;
  background-image: var(--gradient-color);
  animation: gradient 2s infinite;
  display: block;
  border-radius: 5px;
  height: 100%;
  transition: width 3s, background-color 1s;
  z-index: -1;
}
#about .education {
  margin-top: 75px;
}
#about .education .timeline {
  padding: 50px 20px;
  background-color: var(--section-color);
  /* padding: 20px; */
  border-radius: 15px;
}
#about .education .timeline div {
  margin-left: 50px;
  padding-bottom: 30px;
  position: relative;
}
#about .education .timeline div::before,
#about .education .timeline div::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  top: 0;
}
#about .education .timeline div::before {
  width: 20px;
  height: 20px;
  left: -45px;
  border-radius: 50%;
}
#about .education .timeline div::after {
  width: 1px;
  height: 100%;
  left: -35px;
}
#about .education .timeline div h4 {
  color: var(--section-title-color);
  margin-bottom: 20px;
  font-size: 1.2em;
}
#about .education .timeline div p {
  font-weight: 300;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  #about .about-content {
    grid-template-columns: 1fr;
    gap: 40px;
    font-size: 0.6em;
  }
  #about .btn {
    display: block;
    width: fit-content;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 564px) {
  #about .image img {
    width: 100%;
  }
  #about .education .timeline div {
    margin-left: 15px;
  }
  #about .education .timeline div::before {
    width: 15px;
    height: 15px;
    left: -25px;
  }
  #about .education .timeline div::after {
    left: -17.5px;
  }
  #about .education .timeline div h4 {
    font-size: 0.7em;
    margin-bottom: 10px;
  }
  #about .education .timeline div p {
    font-size: 0.6em;
  }
}
/* End About section */
.socials {
  background: linear-gradient(
    90deg,
    var(--main-color) 0%,
    rgba(238, 130, 238, 1) 50%,
    var(--second-color) 100%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding: 50px 0;
  margin: var(--setion-padding) 0;
}
.socials .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials h3 {
  color: var(--section-title-color);
  margin: 0;
  font-size: 1.5rem;
}
.socials i {
  color: var(--background-color);
  font-size: 1.5rem;
  margin-left: 10px;
  transition-duration: 0.3s;
}
.socials i:hover {
  color: var(--section-title-color);
}
@media (max-width: 564px) {
  .socials .container {
    flex-direction: column;
    gap: 15px;
  }
  .socials h3 {
    font-size: 1rem;
  }
  .socials i {
    font-size: 1.2rem;
  }
}
/* Start Services section */
#services {
  padding-bottom: var(--setion-padding);
}
#services .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#services .container .card {
  background-color: var(--section-color);
  text-align: center;
  transition: 0.5s;
  box-shadow: 0px 0px 5px 0 var(--main-color);
  border-radius: 5px;
  overflow: hidden;
}
#services .container .card i {
  font-size: 3.5em;
  color: var(--main-color);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: 0.5s;
}
#services .container .card h3 {
  color: var(--section-title-color);
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto 20px;
}
#services .container .card .text {
  padding: 20px 40px 40px 40px;
}
#services .container .card .icon {
  padding: 30px;
  transition-duration: 0.3s;
}
#services .container .card:hover {
  box-shadow: 0px 0px 10px 0 var(--second-color);
  transform: scale(1.02);
}
#services .container .card:hover i {
  color: var(--section-color);
}
#services .container .card:hover .icon {
  background-color: var(--second-color);
}
@media (max-width: 564px) {
  #services .container {
    grid-template-columns: repeat(1, 1fr);
  }
  #services .container .card i {
    font-size: 2em;
  }
  #services .card .icon {
    padding: 20px 15px !important;
  }
  #services .card .text {
    padding: 20px 15px !important;
  }
  #services .card .text h3 {
    font-size: 14px;
  }
  #services .card .text p {
    font-size: 12px;
  }
}
/* End Services section */
/* Start Contact Section */
#contact {
  margin: 100px 0 var(--setion-padding);
}
#contact h2 {
  margin-bottom: var(--setion-padding);
  font-size: 50px;
}
#contact h3 {
  color: var(--section-title-color);
  text-align: center;
  margin: 0 auto 15px;
}
#contact h3 + p {
  text-align: center;
}
#contact > .container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact > .container .box {
  flex: 1;
  text-align: center;
}
#contact > .container .box i {
  color: var(--second-color);
  font-size: 2em;
}
#contact > .container .box h4 {
  margin: 15px auto;
  color: var(--section-title-color);
}
#contact form {
  background-image: url("../images/world-map.svg");
  background-size: cover;
  background-position: center center;
  margin-top: 60px;
  position: relative;
  z-index: 1;
}
#contact form .email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#contact form input,
#contact form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--section-title-color);
  caret-color: var(--main-color);
  transition: 0.3s;
  border-radius: 5px;
}
#contact form input:focus,
#contact form textarea:focus {
  outline: none;
  border-color: var(--second-color);
}
#contact form textarea {
  min-height: 200px;
  resize: none;
}
#contact form .btn {
  display: block;
  margin: auto;
  padding: 15px 40px;
  background-color: var(--third-color);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#contact form .btn:hover {
  opacity: 0.8;
}
@media (max-width: 767.98px) {
  #contact h2 {
    font-size: 30px;
  }
  #contact h3 {
    font-size: 1.2rem;
  }
  #contact > .container {
    flex-direction: column;
    gap: 50px;
  }
  #contact form .email {
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 564px) {
  #contact > div div p {
    font-size: 0.8em;
  }
}
/* End Contact section */
/* Start Footer section */
footer {
  background-color: var(--background-color);
  box-shadow: 0 0 10px 0 var(--second-color);
}
footer .container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
footer .container .links {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}
footer .container .links i:hover {
  color: var(--second-color);
}
@media (max-width: 564px) {
  footer .container {
    flex-direction: column;
  }
}
/* End Footer section */
