:root {
  --aside-background: #eee;
  --body-background: #fff;
  --heading-color: #225;
  --text-color: #333;
  --shadow-color: #ccc;
  --main-color: var(--red);
  --red: #ef3054;
  --orange: #ff8c00;
  --green: #76f103;
  --purple: #5d2e8c;
  --cyan: #2ec4b6;
  --baige: #f1e8b8;
}
