.nav {
  box-shadow: 0 0 3px var(--main-color);
  background-color: #0c000caa;
  padding: 20px 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay,
.hamburger {
  display: none;
}
.hamburger svg {
  cursor: pointer;
  font-size: 1.5rem;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
}
.links svg {
  display: none;
  margin-right: 5px;
}
.links a {
  color: var(--foreground);
  text-transform: capitalize;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.links a:hover {
  color: var(--main-color);
}
@media screen and (max-width: 1200px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .links {
    display: flex;
    position: fixed;
    top: 0;
    left: -255px;
    width: 250px;
    height: 100%;
    padding: 50px 20px;
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
    background-color: var(--background);
    box-shadow: 2px 0 3px 0 var(--main-color);
    color: var(--section-color) !important;
    transition-duration: 0.5s;
    z-index: 2;
  }
  .links.active {
    left: 0;
  }
  .links svg {
    display: block;
  }
  .overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition-duration: 0.5s;
  }
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
}
