@use "../layout/breakpoints" as *;
#about {
  margin-top: 50px;

  h3 {
    color: var(--heading-color);
    font-size: 1.5em;
    margin-bottom: 30px;
    span {
      color: var(--main-color);
      transition: 1s;
    }
    + p {
      width: 90%;
      line-height: 1.5;
      font-weight: 300;
    }
  }
  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 50px 0 30px;
    font-size: 0.8em;

    @media #{$maxMobile} {
      grid-template-columns: 1fr;
      gap: 0;
      font-size: 0.6em;
    }

    > div {
      p {
        margin-bottom: 40px;
        position: relative;
        &::after {
          content: "";
          width: 90%;
          height: 1px;
          position: absolute;
          background-color: var(--aside-background);
          bottom: -20px;
          left: 0;
        }
      }
    }
  }
  .skills-progress {
    label {
      color: var(--text-color);
      margin-bottom: 5px;
      display: block;
      font-weight: bold;
    }
    div {
      background-color: var(--aside-background);
      width: 100%;
      height: 10px;
      border-radius: 5px;
      margin-bottom: 30px;
      position: relative;
      z-index: -1;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: var(--main-color);
        display: block;
        border-radius: 5px;
        height: 100%;
        transition: width 3s, background-color 1s;
        z-index: -1;
      }
    }
  }
  .education {
    margin-top: 75px;

    .timeline {
      background-color: var(--aside-background);
      padding: 20px;
      border-radius: 15px;

      div {
        margin-left: 50px;
        padding-bottom: 30px;
        position: relative;
        @media #{$maxSmallMobile} {
          margin-left: 15px;
        }

        &::before,
        &::after {
          content: "";
          background-color: var(--main-color);
          position: absolute;
          top: 0;
        }
        &::before {
          width: 20px;
          height: 20px;
          left: -45px;
          border-radius: 50%;
          @media #{$maxSmallMobile} {
            width: 15px;
            height: 15px;
            left: -25px;
          }
        }
        &::after {
          width: 1px;
          height: 100%;
          left: -35px;
          @media #{$maxSmallMobile} {
            left: -17.5px;
          }
        }
        h4 {
          margin-bottom: 20px;
          font-size: 1.2em;
          @media #{$maxSmallMobile} {
            font-size: 0.7em;
            margin-bottom: 10px;
          }
        }
        p {
          font-weight: 300;
          line-height: 1.5;
          @media #{$maxSmallMobile} {
            font-size: 0.6em;
          }
        }
      }
    }
  }
}
