@use "../layout/breakpoints" as *;

#contact {
  padding-top: 50px;

  h3 {
    color: var(--main-color);
    text-align: center;
    margin-bottom: 15px;
    + p {
      text-align: center;
    }
  }
  > div {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$maxMobile} {
      flex-direction: column;
      gap: 50px;
    }
    div {
      flex: 1;
      text-align: center;

      i {
        color: var(--main-color);
        font-size: 2em;
      }
      h4 {
        margin: 15px 0;
      }
      p {
        @media #{$maxSmallMobile} {
          font-size: 0.8em;
        }
      }
    }
  }
  form {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    input,
    textarea {
      padding: 20px;
      background-color: transparent;
      border: 2px solid var(--heading-color);
      color: var(--text-color);
      caret-color: var(--text-color);
      transition: 0.5s;
      border-radius: 5px;

      &:focus {
        outline: none;
        border-color: var(--main-color);
      }
    }
    input:nth-child(1) {
      grid-column: 1/4;
      @media #{$maxMobile} {
        grid-column: 1/7;
      }
    }
    input:nth-child(2) {
      grid-column: 4/7;
      @media #{$maxMobile} {
        grid-column: 1/7;
      }
    }
    input:nth-child(3) {
      grid-column: 1/7;
    }
    textarea {
      grid-column: 1/7;
      min-height: 200px;
      resize: none;
    }
    .btn {
      grid-column: 3/5;
      @media #{$maxMobile} {
        grid-column: 1/7;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
