@use "../layout/breakpoints" as *;
#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 100vh;
  @media #{$maxMobile} {
    grid-template-columns: 1fr;
  }

  h1 {
    margin-top: 50px;
    font-size: 2em;
    color: var(--heading-color);
    @media #{$maxMobile} {
      font-size: 1.5em;
    }
    span {
      color: var(--main-color);
      transition-duration: 1s;
      &:first-child {
        font-family: "Moon Dance", "Roboto Mono";
      }
    }
  }

  p {
    max-width: 800px;
    margin: 25px 0 20px;
    line-height: 1.5;
    @media #{$maxMobile} {
      font-size: 0.8em;
    }
  }

  .skills {
    margin-bottom: 25px;
    i {
      color: var(--text-color);
      font-size: 2em;
      transition: 0.5s;

      @media #{$maxMobile} {
        font-size: 1.2em;
        line-height: 1.5;
      }

      &.fa-html5:hover {
        color: #e34c26;
      }
      &.fa-css3-alt:hover {
        color: #264de4;
      }
      &.fa-js:hover {
        color: #f0db4f;
      }
      &.fa-sass:hover {
        color: #cd6799;
      }
      &.fa-bootstrap:hover {
        color: #563d7c;
      }
      &.fa-react:hover {
        color: #61dbfb;
      }
      &.fa-git:hover {
        color: #f34f29;
      }
      &.fa-github:hover {
        color: #000000;
      }
    }
  }
  .image {
    width: fit-content;
    position: relative;
    margin: auto;
    @media #{$maxSmallMobile} {
      margin-top: 50px;
    }
    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
    }
    &::before {
      border-top: 4px solid var(--main-color);
      border-right: 4px solid var(--main-color);
      top: -20px;
      right: -20px;
      @media #{$maxSmallMobile} {
        top: -10px;
        right: -10px;
      }
    }
    &::after {
      border-bottom: 4px solid var(--main-color);
      border-left: 4px solid var(--main-color);
      bottom: -20px;
      left: -20px;
      @media #{$maxSmallMobile} {
        bottom: -10px;
        left: -10px;
      }
    }

    img {
      width: 290px;
      aspect-ratio: 3/4;
      object-fit: cover;
      @media #{$maxMedium} {
        width: 280px;
      }
      @media #{$maxMobile} {
        width: 200px;
      }
      @media #{$maxSmallMobile} {
        width: 150px;
      }
    }
  }
}
