@use "../layout/breakpoints" as *;

.menu {
  position: fixed;
  z-index: 100;
  right: 20vw;
  top: 0;
  display: flex;
  gap: 15px;
  height: 60px;
  .setting,
  .dark-mode {
    width: 44px;
    height: 40px;
    border-radius: 0 0 25px 25px;
    background-color: var(--text-color);
    color: var(--body-background);
    padding-right: 10px;
    font-size: 1.2em;
    margin-left: auto;
    transition: 0.5s;
    @media #{$maxSmallMobile} {
      width: 35px;
    }
    i {
      padding: 10px;
      cursor: pointer;
      transition: 0.8s;
    }
    &:hover {
      height: 100%;
      i {
        transform: translateY(20px);
      }
    }
  }
  .setting {
    position: relative;
    .colors {
      width: 100%;
      background-color: var(--text-color);
      color: var(--body-background);
      position: absolute;
      left: 50%;
      bottom: calc(100% - 1px);
      transform: translateX(-50%);
      text-align: center;
      padding: 5px;

      div {
        span {
          margin: auto;
          width: 30px;
          height: 30px;
          display: block;
          border-radius: 50%;
          cursor: pointer;
          margin: 15px 2px 0;

          &:nth-child(1) {
            background-color: var(--green);
          }
          &:nth-child(2) {
            background-color: var(--red);
          }
          &:nth-child(3) {
            background-color: var(--orange);
          }
          &:nth-child(4) {
            background-color: var(--purple);
          }
          &:nth-child(5) {
            background-color: var(--cyan);
          }
          @media #{$maxSmallMobile} {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    &.active {
      transform: translateY(230px);
      @media #{$maxSmallMobile} {
        transform: translateY(180px);
      }
      &:hover {
        height: 40px;
        i {
          transform: translateY(0px);
        }
      }
      .colors {
        display: block;
      }
    }
  }
  .dark-mode i {
    display: none;
    &.active {
      display: block;
    }
  }
}
