@use "../layout/breakpoints" as *;

#services {
  padding-top: 50px;

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media #{$maxSmallMobile} {
      grid-template-columns: repeat(1, 1fr);
    }

    div {
      background-color: var(--aside-background);
      padding: 40px;
      text-align: center;
      transition: 0.5s;
      box-shadow: 5px 5px 10px 0 var(--shadow-color);
      border-radius: 5px;
      @media #{$maxSmallMobile} {
        padding: 30px 15px;
      }

      i {
        font-size: 2.5em;
        color: var(--main-color);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 50%;
        transition: 0.5s;
        @media #{$maxSmallMobile} {
          font-size: 2em;
        }
      }
      h3 {
        margin-bottom: 20px;
      }
      &:hover {
        box-shadow: 10px 10px 10px 0 var(--shadow-color);
        transform: scale(1.02);

        i {
          background-color: var(--main-color);
          color: var(--aside-background);
        }
      }
    }
  }
}
