@use "../layout/breakpoints" as *;

.container {
  min-height: 100vh;

  aside,
  section {
    padding: 20px;
  }
  section {
    margin-left: 300px;
    @media #{$maxMedium} {
      margin-left: 75px;
    }
  }
  aside {
    width: 250px;
    height: 100%;
    @media #{$maxMedium} {
      width: 50px;
    }
  }
}
