{% extends 'layout.html' %} {% block styles %}
<style>
  body {
    min-height: 100vh;
  }
  header .logo img {
    filter: invert(0);
    transition-duration: 1s;
  }
  header.active-menu .logo img {
    filter: invert(1);
  }
  header .nav-menu a {
    filter: invert(0);
  }
  header.fixed ul a,
  header.fixed img {
    filter: invert(0.8);
  }
  header a {
    color: var(--background-color) !important;
  }
  header i,
  header span {
    filter: invert(0.8);
  }
  header a:hover {
    color: var(--main-color) !important;
  }
  .section-img .overlay {
    background-color: rgba(15, 0, 15, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .section-img {
    background-image: url("https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center 40%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .blogs > h2 {
    color: var(--background-color);
    font-size: 2.6rem;
    margin: 200px auto 250px;
    padding: 0 10px;
  }
  @media (max-width: 767px) {
    .container h2 {
      font-size: 1.5rem;
    }
  }
  .blog-container {
    background-color: var(--background-color);
    min-height: 70vh;
  }
  .blog-container .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  @media (max-width: 767px) {
    .blog-container .container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  .blog {
    transform: translateY(-50%);
    background-color: var(--section-color);
    padding: 50px 20px 60px;
    transition-duration: 0.3s;
    word-wrap: break-word;
    position: relative;
    margin-top: 30px;
    box-shadow: 0 2px 5px var(--text-color);
  }
  .blog div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px;
  }
  .blog h3 {
    color: var(--section-title-color);
    transition-duration: 0.3s;
  }
  .blog span {
    color: var(--main-color);
    transition-duration: 0.3s;
  }
  .blog .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog .content * {
    font-size: 1rem !important;
  }
  .blog a {
    background-color: var(--main-color);
    color: var(--background-color);
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    transition-duration: 0.3s;
    font-weight: bold;
  }
  .blog:hover a {
    background-color: var(--second-color);
  }
  .blog:hover {
    transform: translateY(-50%) scale(1.02);
    box-shadow: -2px 2px 10px var(--text-color);
  }
  .blog:hover h3 {
    color: var(--main-color);
  }
  .blog:hover span {
    color: var(--second-color);
  }
  footer {
    display: none;
  }
</style>
{% endblock %} {% block content %}

<div class="section-img">
  <div class="overlay"></div>
</div>
<div class="blogs">
  <h2>The Big Data Blog</h2>
  <div class="blog-container">
    <div class="container">
      {% for blog in blogs %}
      <div class="blog">
        <div>
          <h3>{{ blog.title }}</h3>
          <span>{{ blog.date_posted }}</span>
        </div>
        {% if blog.content|length > 100 %}
        <div class="content">{{ blog.content[:100]|safe + '. . .' }}</div>
        {% else %}
        <div class="content">{{ blog.content|safe }}</div>
        {% endif %}
        <a href="{{ url_for('blog_page', blog_id=blog.id) }}">Read More</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
