{% extends 'layout.html' %} {% block styles %}
<style>
  footer {
    bottom: 50px;
  }
  header .logo img {
    filter: invert(0);
    transition-duration: 1s;
  }
  header.active-menu .logo img {
    filter: invert(1);
  }
  header .nav-menu a {
    filter: invert(0);
  }
  header.fixed ul a,
  header.fixed img {
    filter: invert(0.8);
  }
  header a {
    color: var(--background-color) !important;
  }
  header i,
  header span {
    filter: invert(0.8);
  }
  header a:hover {
    color: var(--main-color) !important;
  }
  header .logo img {
    filter: invert(0);
    transition-duration: 1s;
  }
  header.active-menu .logo img {
    filter: invert(1);
  }
  header .nav-menu a {
    filter: invert(0);
  }
  header.fixed ul a,
  header.fixed img {
    filter: invert(0.8);
  }
  header a {
    color: var(--background-color) !important;
  }
  header i,
  header span {
    filter: invert(0.8);
  }
  header a:hover {
    color: var(--main-color) !important;
  }
  .section-img .overlay {
    background-color: rgba(15, 0, 15, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .section-img {
    background-image: url("https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center 40%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .background {
    background-color: var(--background-color);
    margin-top: 80vh;
    min-height: 120vh;
  }
  .blog {
    transform: translateY(-60vh);
    margin: 0 auto;
    height: fit-content;
    background-color: var(--section-color);
    padding: 10px;
  }
  .blog > div:nth-child(1) {
    padding: 50px 20px;
    border: 1px solid var(--text-color);
    position: relative;
    height: 100%;
    line-height: 2;
  }
  .blog > div img {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 20px 0;
  }
  .blog > div h2 {
    margin: 30px 0 10px;
  }
  @media (max-width: 991px) {
    .blog {
      width: 90%;
    }
  }
  .section-title {
    font-size: 2.5rem;
  }
  .content {
    padding: 50px;
  }
  @media (max-width:600px) {
    .content {
      padding: 20px;
    }
    
  }
  .content h2,
  .content h3,
  .content h4 {
    color: var(--main-color);
    margin: 30px 0 15px;
  }
  .content span {
    opacity: 0.8;
  }
  .content code {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #2b2b2b;
    color: #f8f8f8;
    font-size: 90%;
  }

  .contetnt pre code {
    display: block;
    padding: 1em;
    overflow-x: auto;
    background-color: #2b2b2b;
    color: #f8f8f8;
    font-size: 85%;
  }
  .comments,
  .more-blogs {
    transform: translateY(-60vh);
    padding: 0;
  }
  .more-blogs h2 {
    margin: 50px 0 0;
  }
  .more-blogs > div {
    min-height: 300px;
    margin: auto;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
  }
  .blog-card {
    background-color: var(--section-color);
    padding: 50px 20px 60px;
    transition-duration: 0.3s;
    word-wrap: break-word;
    position: relative;
    margin-top: 30px;
    box-shadow: 0 2px 5px var(--text-color);
  }
  .blog-card h3 {
    margin: 20px 0 10px;
    color: var(--section-title-color);
    transition-duration: 0.3s;
  }
  .blog-card span {
    color: var(--main-color);
    transition-duration: 0.3s;
  }
  .blog-card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-card .content * {
    font-size: 1rem !important;
    color: var(--text-color) !important;
    margin: 0;
  }
  .blog-card a {
    background-color: var(--main-color);
    color: var(--background-color);
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    transition-duration: 0.3s;
    font-weight: bold;
  }
  .blog-card:hover a {
    background-color: var(--second-color);
  }
  .blog-card:hover {
    transform: scale(1.02);
    box-shadow: -2px 2px 10px var(--text-color);
  }
  .blog-card:hover h3 {
    color: var(--main-color);
  }
  .blog-card:hover span {
    color: var(--second-color);
  }
  .comments {
    background-color: var(--section-color);
    box-shadow: 0 0 5px var(--text-color);
    margin: 50px 0;
    padding: 10px;
  }
  .comments h3 {
    margin: 20px 10px;
  }
  .comments ul li {
    border-radius: 12px;
    background-color: #eee;
    border-bottom: 1px solid var(--main-color);
    box-shadow: 0 0px 5px var(--text-color);
    padding: 10px 20px 20px;
    margin: 20px;
  }
  .comments form {
    border: 1px solid var(--text-color);
    padding: 20px;
  }
  .comments input,
  .comments textarea {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--text-color);
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 10px;
    resize: none;
    border-radius: 10px;
  }
  .comments input:hover,
  .comments input:focus,
  .comments textarea:focus,
  .comments textarea:hover {
    border-color: var(--second-color);
  }
  .comments .btn {
    border: none;
  }
</style>
{% endblock %} {% block content %}
<div class="section-img">
  <div class="overlay"></div>
</div>
<div class="background">
  <div class="container">
    <div class="blog">
      <div>
        <span>{{ date_posted }}</span>
        {% if blog.img_url %}
        <img src="{{ blog.img_url }}" alt="Blog Image" />
        {% endif %}
        <h2 class="section-title">{{blog.title}}</h2>
        <div class="content">{{blog.content|safe }}</div>
      </div>
    </div>
    <div class="more-blogs container">
      <h2>Also Read</h2>
      <div>
        {% for blog in random_blogs %}
        <div class="blog-card">
          <span>{{ blog.date_posted }}</span>
          <h3>{{ blog.title }}</h3>
          {% if blog.content|length > 100 %}
          <div class="content">{{ blog.content[:100]|safe + '. . .' }}</div>
          {% else %}
          <div class="content">{{ blog.content|safe }}</div>
          {% endif %}
          <a href="{{ url_for('blog_page', blog_id=blog.id) }}">Read More</a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="comments container">
      <h3>Comments</h3>
      <ul>
        {% if comments %} {% for comment in comments %}
        <li><strong>{{ comment.name }}</strong>: {{ comment.comment }}</li>
        {% endfor %} {% else %}
        <li>Be the first one to comment</li>
        {% endif %}
      </ul>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div>{{ form.name(size=32) }}</div>
        <div>{{ form.comment(rows=4, cols=40) }}</div>
        {{ form.blog_post_id }} {{ form.project_id }}
        <div>{{ form.submit(class="btn btn-primary") }}</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
