{% extends 'layout.html' %} {% block content %}
<section id="contact">
  <div class="container">
    <h2 class="section-title">Contact me</h2>
    <h3>Have Any Questions?</h3>
    <p>Don't hesitate to Mail Us</p>
    <div>
      <div class="box">
        <!-- <i class="fa-solid fa-phone"></i> -->
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMGJlYzgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNSA0aDRsMiA1bC0yLjUgMS41YTExIDExIDAgMCAwIDUgNUwxNSAxM2w1IDJ2NGEyIDIgMCAwIDEtMiAyQTE2IDE2IDAgMCAxIDMgNmEyIDIgMCAwIDEgMi0ybTEwIDNhMiAyIDAgMCAxIDIgMm0tMi02YTYgNiAwIDAgMSA2IDYiLz48L3N2Zz4="
          alt=""
        />
        <h4>Call Us On</h4>
        <p>+20 011 2800 0832</p>
      </div>
      <div class="box">
        <!-- <i class="fa-solid fa-location-dot"></i> -->
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9IiMwMGJlYzgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNOSAxMmEzIDMgMCAxIDAgNiAwYTMgMyAwIDEgMC02IDAiLz48cGF0aCBkPSJNNCAxMmE4IDggMCAxIDAgMTYgMGE4IDggMCAxIDAtMTYgMG04LTEwdjJtMCAxNnYybTgtMTBoMk0yIDEyaDIiLz48L2c+PC9zdmc+"
          alt=""
        />
        <h4>Our Location</h4>
        <p>Egypt</p>
      </div>
      <div class="box">
        <!-- <i class="fa-solid fa-envelope"></i> -->
        <img
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9IiMwMGJlYzgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNMyA3YTIgMiAwIDAgMSAyLTJoMTRhMiAyIDAgMCAxIDIgMnYxMGEyIDIgMCAwIDEtMiAySDVhMiAyIDAgMCAxLTItMnoiLz48cGF0aCBkPSJtMyA3bDkgNmw5LTYiLz48L2c+PC9zdmc+"
          alt=""
        />
        <h4>Email</h4>
        <p>adhamh372002@gmail.com</p>
      </div>
    </div>
  </div>
  <form method="POST" action="https://formspree.io/f/xdoqlgvy">
    <div class="container">
      <div class="email">
        {{ form.name(placeholder='Name', class="form-control") }} {{
        form.email(placeholder='Email', class="form-control") }}
      </div>
      {{ form.subject(placeholder='Subject', class="form-control") }} {{
      form.content(placeholder='Subject', class="form-control") }} 
      <input type="submit" class="btn btn-primary" value="Send Message">
    </div>
  </form>
</section>
{% endblock %}
