{% extends 'layout.html' %} {% block content %}

<section id="home">
  <div class="container">
    <div class="hero">
      <h1>
        Hello, my name is <span>Adham Emam</span> <br />
        I'm a <span class="auto-type"></span>
        <span class="cursor">&nbsp;</span>
      </h1>
      <p>
        I'm a web developer with an experience in Front-End and Back-End
        technologies, A creative developer with innovative ideas, I mainly work
        with this languages.
      </p>
      <div class="skills">
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/48/html-5--v1.png"
          alt="html"
          title="HTML"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/48/css3.png"
          alt="CSS"
          title="CSS"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/36/javascript--v1.png"
          alt="javascript"
          title="Javascript"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/36/bootstrap--v2.png"
          alt="bootstrap"
          title="Bootstrap"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/36/sass.png"
          alt="sass"
          title="SASS"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/36/tailwindcss.png"
          alt="Tailwind"
          title="Tailwind"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/ios-glyphs/36/33CAF0/react.png"
          alt="react"
          title="React"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/36/python--v1.png"
          alt="python"
          title="Python"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/000000/48/flask.png"
          alt="Flask"
          title="Flask"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/48/django.png"
          alt="django"
          title="Django"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/36/git.png"
          alt="git"
          title="git"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/48/adobe-photoshop--v1.png"
          alt="adobe-photoshop--v1"
          title="Photoshop"
        />
        <img
          width="32"
          height="32"
          src="https://img.icons8.com/color/48/adobe-illustrator--v1.png"
          alt="adobe-photoshop--v1"
          title="Illustrator"
        />
      </div>
      <a href="{{ url_for('contact') }}" class="btn">Contact Me</a>
    </div>
    <div class="image">
      <div></div>
      <img
        src="{{ url_for('static', filename='images/hero.jpg') }}"
        alt="Hero Image"
      />
    </div>
  </div>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
<section id="about">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <p>
      I'm a passionate Full Stack Developer skilled in Python and front-end
      technologies. I build robust applications and solve complex problems with
      Python, HTML, CSS, and JavaScript. Experienced in frameworks like Django
      and Flask, I ensure seamless user experiences. Currently, I'm exploring
      advanced data analysis techniques. Let's connect to discuss tech trends,
      collaborations, or share insights.
    </p>

    <div class="about-content">
      <div>
        <p>
          <b>Location :</b>
          <span>Egypt</span>
        </p>
        <p>
          <b>Freelance :</b>
          <span>Available</span>
        </p>
        <p><b>Age :</b> <span class="age"></span></p>
        <p><b>Email :</b> <span>adhamh372002@gmail.com</span></p>
        <p><b>Phone :</b> <span>+20 112 800 0832</span></p>
      </div>
      <div class="skills-progress">
        <label for="html">HTML</label>
        <div name="html">
          <span data-progress="90%"></span>
        </div>
        <label for="css">CSS</label>
        <div name="css">
          <span data-progress="90%"></span>
        </div>
        <label for="js">JavaScript</label>
        <div name="js">
          <span data-progress="67%"></span>
        </div>
        <label for="python">Python</label>
        <div name="python">
          <span data-progress="85%"></span>
        </div>
        <label for="flask">Flask</label>
        <div name="flask">
          <span data-progress="75%"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="socials">
    <div class="container">
      <h3>Social Links</h3>
      <div class="links">
        <span
          ><a target="_blank" href="https://github.com/Adham-Emam/Adham-Emam"
            ><i class="fa-brands fa-github"></i></a
        ></span>
        <span
          ><a
            target="_blank"
            href="https://www.linkedin.com/in/adham-emam-91935a229/"
            ><i class="fa-brands fa-linkedin"></i></a
        ></span>
        <span
          ><a target="_blank" href="https://discordapp.com/users/boundman4888"
            ><i class="fa-brands fa-discord"></i></a
        ></span>
      </div>
    </div>
  </div>
  <div class="education">
    <div class="container">
      <h2 class="section-title">Education</h2>
      <div class="timeline">
        <div>
          <h4>Business Major | Cairo University 2021-2024</h4>
          <p>
            Excitedly anticipating graduation from Cairo University's Faculty of
            Commerce with a focus on business. Eager to leverage my education in
            future professional endeavors.
          </p>
        </div>
        <div>
          <h4>CS50 Intro to Programming with Python</h4>
          <p>
            This intensive course provided a comprehensive introduction to
            computer science and programming using Python. I gained a solid
            understanding of fundamental concepts, problem-solving strategies,
            and the ability to translate ideas into functioning code. Through
            challenging problem sets and engaging projects, I honed my
            programming skills and developed a logical approach to algorithmic
            challenges.
          </p>
        </div>
        <div>
          <h4>CS50 Web Development</h4>
          <p>
            Building on the foundation of CS50, this course delved into the
            dynamic world of web development. Covering both front-end and
            back-end technologies, I acquired the skills necessary to create
            interactive and efficient web applications. From HTML and CSS to
            Python and SQL, I explored the full stack, enabling me to design and
            implement robust, user-friendly websites. These courses have been
            instrumental in broadening my technical expertise and preparing me
            for the diverse challenges of the digital
          </p>
        </div>
        <div>
          <h4>Freelancing</h4>
          <p>
            As a freelance web developer, I bring a unique blend of business
            understanding and technical expertise to every project. Proficient
            in front-end technologies such as HTML, CSS, and JavaScript, and
            equipped with back-end skills using Python and SQL, I create dynamic
            and user-friendly websites. I specialize in delivering tailor-made
            solutions that not only meet the technical requirements but also
            align with the client's business goals. From concept to execution, I
            ensure a seamless and collaborative development process.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/typing.js') }}"></script>
{% endblock %}
