<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Welcome to Adham's portfolio. I am a full-stack developer with expertise in building scalable web applications. Explore my projects, read my technical blog, and learn more about my skills and experience."
    />
    <title>Adham - Full-Stack Developer</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    {% block styles %} {% endblock %}
  </head>
  <body>
    <header>
      <div class="container">
        <div>
          <div class="logo">
            <a href="{{ url_for('home') }}"
              ><img
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt="My Portfolio Logo"
            /></a>
          </div>
          <nav>
            <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('projects') }}">Projects</a></li>
              <li><a href="{{ url_for('blog') }}">Blog</a></li>
              <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
          </nav>
          <div class="nav-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <ul class="nav-menu">
          <li>
            <a href="{{ url_for('home') }}"
              ><i class="fa-solid fa-home"></i> <span>Home</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('projects')}}"
              ><i class="fa-solid fa-cubes"></i> <span>projects</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('blog') }}"
              ><i class="fa-solid fa-blog"></i> <span>Blog</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('contact') }}"
              ><i class="fa-solid fa-comments"></i> <span>Contact</span></a
            >
          </li>
        </ul>
      </div>
    </header>

    {% block content %} {% endblock %}
    <footer>
      <div class="container">
        <p>Made with love by <span>Adham</span>❤️</p>
        <div class="links">
          <span
            ><a target="_blank" href="https://github.com/Adham-Emam/Adham-Emam"
              ><i class="fa-brands fa-github"></i></a
          ></span>
          <span
            ><a
              target="_blank"
              href="https://www.linkedin.com/in/adham-emam-91935a229/"
              ><i class="fa-brands fa-linkedin"></i></a
          ></span>
          <span
            ><a target="_blank" href="https://discordapp.com/users/boundman4888"
              ><i class="fa-brands fa-discord"></i></a
          ></span>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block script %} {% endblock %}
  </body>
</html>
